<header>
    <div class="logo">
        <a href="/">
            <img src="images/logo-white.png"/>
        </a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/compare-packages">Compare</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
