<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoyageVersus - <%- title %></title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/simple-page.css">
    <link rel="icon" type="image/x-icon" href="images/favicon-black.png">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="simple-page">
            <%- description %>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
