.simple-page {
    margin-bottom: 40px;
    padding: 40px;
}

.simple-page h1, .simple-page h2 {
    color: #ff6347;
    margin-bottom: 20px;
    margin-top: 0;
}

.simple-page p {
    font-size: 18px;
    line-height: 1.3;
}

.simple-page ul {
    display: inline-block;
    margin: 0;
}

.simple-page ul li {
    font-size: 18px;
}

@media (max-width: 768px) {
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header nav a {
        margin: 10px 0;
    }
}
